{% extends 'registration/base.html' %}

{% block content %}
  {% if validlink %}
    <h2 class="big">Change password</h2>
    <form method="post">
      {% csrf_token %}
      <div class="input_list">
        {% for field in form %}
        <div class="fieldWrapper">
          {% if field.errors %}
            <div class="alert alert-danger">
              {% for error in field.errors %}
              {{error}}<br>
              {% endfor %}
            </div>
          {% endif %}
          {% if field.help_text %}
          <div class="alert alert-info">
            {{ field.help_text|safe }}
          </div>
          {% endif %}
          <input type="text" name="{{ field.html_name }}" class="form-control" placeholder="{{ field.label }}" autofocus maxlength="{{ field.field.max_length }}" required id="{{ field.id_for_label }}" />
        </div>
        {% endfor %}
      </div>
      <button type="submit" class="btn btn-primary">Change password</button>
    </form>
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
{% endblock %}