
/*Title styling*/
.title{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/title.jpg) no-repeat center;
}
.title-containter{
    display: table;
    height: 70vh;
    margin: 0 auto;
}
.title-containter > .title-display{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: #fff
}
.title-display h1{
    font-size: 4em;
    font-family: 'Crimson Text', serif;
}
.title-display h3{
    font-size: 3em;
}
