{% extends "base.html" %}
{% load static %}

{% block body %}
    <nav id="mainNav" class="navbar">
        <div class="container-fluid">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/"><b>J</b>Hotel</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    {% if user.first_name %}
                    <li class="page-scroll">
                        <p class="navbar-text">Signed in as <a href="#" class="navbar-link">{{user.first_name}}</a></p>
                    </li>
                    <li class="page-scroll">
                        <a href="/logout/">Logout</a>
                    </li>
                    {% else %}
                    <li class="page-scroll">
                        <a href="/login/">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div>
        {% block content %}{% endblock %}
    </div>
    <footer>
        {% block footer %}{% endblock %}
    </footer>
{% endblock body %}

