{% extends 'homepage/base.html' %}
{% load static %}

{% block title %}JHotel{% endblock %}

{% block styles %}
<link href="{% static 'homepage/css/home.css' %}" rel="stylesheet" type="text/css">
{% endblock styles %}

{% block content %}
<div class="title">
    <div class="container title-containter">
        <div class="title-display">
            <h1>JHotel</h1>
            <h3>Protect your Jewish lifestyle on the move in the 21st century</h3>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col col-md-12 center info">
            <h1>How it works</h1>
            <hr class="style11">
            <p><b>Step 1:</b> <a href="/login/">Login</a> so others at the hotel can contact you (you choose what they see)</p>
            <p><b>Step 2:</b> Find or add your hotel below</p>
            <p><b>Step 3:</b> Mark your reservation in the database and see who is there with you</p>
            <p><b>Step 4:</b> Start and join Minyanim, Shiurim... during your stay</p>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-12 hotel_finder center">
            <h1 class="center">Find your Hotel</h1>
            <hr>
            <div class="col-md-6">
                <div class="col center">
                    <h2>By City Name</h2>
                    <hr>
                    <form action="/hotels/find_city" method="post">
                        {% csrf_token %}
                        {% for field in city_form %}
                        <input type="text" name="hotel_name" id="{{ field.id_for_label }}" class="form-control" placeholder="{{ field.label }}" autofocus value="" autocomplete="off" data-ajax-select="autocomplete" data-plugin-options="{&quot;source&quot;: &quot;/ajax_select/ajax_lookup/{{ field.field.channel }}&quot;, &quot;html&quot;: true}"  required maxlength="{{ field.field.max_length }}"/>
                        {% endfor %}
                        <input type="submit" class="btn btn-primary" value="Find Hotel" />
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col center">
                    <h2>By Hotel Name</h2>
                    <hr>
                    <form action="/hotels/find_hotel" method="post">
                        {% csrf_token %}
                        {% for field in hotel_form %}
                        <input type="text" name="hotel_name" id="{{ field.id_for_label }}" class="form-control" placeholder="{{ field.label }}" autofocus value="" autocomplete="off" data-ajax-select="autocomplete" data-plugin-options="{&quot;source&quot;: &quot;/ajax_select/ajax_lookup/{{ field.field.channel }}&quot;, &quot;html&quot;: true}"  required maxlength="{{ field.field.max_length }}"/>
                        {% endfor %}
                        <input type="submit" class="btn btn-primary" value="Find Hotel" />
                    </form>
                </div>
            </div>
            <a href="//google.com"><button class="btn btn-primary">Add Missing Hotel</button></a>
        </div>
    </div>
</div>
{% endblock %}

{% block assets %}
{{ city_form.media }}
{% endblock assets %}